PORT=3000
TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_USERNAME=rent_belarus_bot
PUBLIC_APP_URL=https://rentapp-production-5561.up.railway.app
DATABASE_URL=
STORAGE_ENDPOINT=
STORAGE_BUCKET=
STORAGE_ACCESS_KEY=
STORAGE_SECRET_KEY=
